{"openapi":"3.0.0","info":{"title":"\ud83d\ude80 Starbase API Documentation","version":"","description":"## Overview\nThe **BisectHosting Server API** provides powerful, off-panel server management and data tools. This API allows you to automate server tasks, retrieve essential data, and integrate your applications with BisectHosting's services.\n\nAll API routes are **authenticated** and require a valid API key. You can generate an API key in the BisectHosting Panel under the **Account API Keys** section.\n\n## Getting Started\n### Authentication\nAll API requests require an API key to be included in the request headers. Use the following format:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\nMost requests also require a **server UUID** in the URL path. You can find this in your server information panel.\n\n### Base URL\nAll API requests should be directed to:\n\n```\nhttps:\/\/games.bisecthosting.com\/api\/client\/{route}\n```\n\n## Rate Limits\nTo ensure fair usage and prevent abuse, API requests are subject to rate limits. The specific rate limits are:\n\n- **Requests per minute**: `720`\n\nExceeding these limits will result in a `429 Too Many Requests` response. We recommend implementing exponential backoff in your requests.\n\n## Error Handling\nOur API returns standard HTTP status codes to indicate the success or failure of a request.\n\n| Status Code | Meaning |\n|-------------|---------|\n| **200 OK** | Request was successful. |\n| **201 Created** | Resource was successfully created. |\n| **400 Bad Request** | The request was malformed or contained invalid parameters. |\n| **401 Unauthorized** | Missing or invalid API key. |\n| **403 Forbidden** | You do not have permission to access this resource. |\n| **404 Not Found** | The requested resource was not found. |\n| **429 Too Many Requests** | Rate limit exceeded. |\n| **500 Internal Server Error** | A server-side error occurred. |\n\n## Common Headers\n| Header | Description |\n|--------|-------------|\n| `Authorization` | Bearer token for authentication. |\n| `Content-Type` | Must be `application\/json` for POST and PUT requests. |\n| `Accept` | Determines the response format. Commonly: `application\/json`. |\n\n## Example Request\nHere's an example of a request using `curl`:\n\n```sh\ncurl -X GET \"https:\/\/games.bisecthosting.com\/api\/client\/servers\/{server_uuid}\" \\\n     -H \"Authorization: Bearer YOUR_API_KEY\" \\\n     -H \"Accept: application\/json\"\n```\n\n## WebSocket Connection Process\n1. **Get Token**: Call the [WebSocket endpoint](#tag\/Server-JWT) to retrieve the JWT token and WebSocket URL\n2. **Establish Connection**: Connect to the WebSocket URL using a WebSocket client\n3. **Authenticate**: Send an authentication message with the JWT token\n4. **Receive Events**: Listen for server events and status updates\n5. **Send Commands**: Send console commands and control server state\n\n  ### Authentication Flow\n\n  After connecting to the WebSocket, you must authenticate by sending:\n  ```json\n  {\n    \"event\": \"auth\",\n    \"args\": [\"YOUR_JWT_TOKEN_HERE\"]\n  }\n  ```\n\n  Upon successful authentication, you'll receive:\n  ```json\n  {\n    \"event\": \"auth success\"\n  }\n  ```\n\n  ### Available Events to Send\n\n  | Event | Description | Required Permission |\n  |-------|-------------|-------------------|\n  | `auth` | Authenticate the connection | `websocket.connect` |\n  | `send command` | Execute console command | `control.console` |\n  | `set state` | Change server power state | `control.start`, `control.stop`, or `control.restart` |\n  | `send logs` | Request recent console logs | - |\n  | `send stats` | Request server resource stats | - |\n  | `send player list` | Request current player list | - |\n  | `send player chat` | Request recent chat messages | - |\n  | `send live activity update` | Request live activity updates | - |\n\n  ### Events You'll Receive\n\n  | Event | Description | Data Format |\n  |-------|-------------|-------------|\n  | `console output` | Server console output | `[\"log line\"]` |\n  | `status` | Server status change | `[\"starting\"] | [\"running\"]` | [\"stopping\"] | `[\"offline\"]` |\n  | `stats` | Resource usage stats | `[\"{\"memory\":{\"current\":1024},...}\"]` |\n  | `install output` | Installation progress | `[\"install log line\"]` |\n  | `backup completed` | Backup completion | `[\"backup_id\"]` |\n  | `player list` | Current players | `[\"[{\"name\":\"Player1\",...}]\"]` |\n  | `player chat` | Chat messages | `[\"{\"player\":\"Name\",\"message\":\"Hello\"}\"]` |\n  | `live activity` | Live activity updates | `[\"{\"action\":\"file.upload\",...}\"]` |\n  | `daemon error` | Error messages | `[\"error description\"]` |\n  | `jwt error` | Authentication errors | `[\"error description\"]` |\n  | `token expiring` | Token expiration warning | `[]` |\n  | `token expired` | Token has expired | `[]` |\n\n  ### Power State Control\n\n  To control server power state, send:\n  ```json\n  {\n    \"event\": \"set state\",\n    \"args\": [\"start|stop|restart|kill\"]\n  }\n  ```\n\n  ### Sending Console Commands\n\n  To execute console commands, send:\n  ```json\n  {\n    \"event\": \"send command\",\n    \"args\": [\"your console command here\"]\n  }\n  ```\n\n  ### Token Management\n\n  - Tokens expire after 10 minutes\n  - You'll receive `token expiring` event 3 minutes before expiry\n  - You'll receive `token expired` event when token expires\n  - Call this endpoint again to get a new token and re-authenticate\n\n  ### Example JavaScript Implementation\n\n  ```javascript\n  \/\/ Get WebSocket details\n  const response = await fetch('https:\/\/games.bisecthosting.com\/api\/client\/servers\/{server}\/websocket', {\n    headers: { 'Authorization': 'Bearer YOUR_API_KEY' }\n  });\n  const { data } = await response.json();\n\n  \/\/ Connect to WebSocket\n  const ws = new WebSocket(data.socket);\n\n  ws.onopen = () => {\n    \/\/ Authenticate\n    ws.send(JSON.stringify({\n      event: 'auth',\n      args: [data.token]\n    }));\n  };\n\n  ws.onmessage = (event) => {\n    const { event: eventName, args } = JSON.parse(event.data);\n\n    switch(eventName) {\n      case 'auth success':\n        console.log('WebSocket authenticated successfully');\n        \/\/ Request initial server status\n        ws.send(JSON.stringify({ event: 'send stats' }));\n        break;\n      case 'console output':\n        console.log('Console:', args[0]);\n        break;\n      case 'status':\n        console.log('Server status:', args[0]);\n        break;\n      case 'stats':\n        console.log('Server stats:', JSON.parse(args[0]));\n        break;\n      case 'token expiring':\n        \/\/ Refresh token before it expires\n        refreshWebSocketToken();\n        break;\n    }\n  };\n  ```\n\n  ### Connection URL Format\n\n  The WebSocket URL is returned from the [WebSocket endpoint](#tag\/Server-JWT)\n\n## Need Help?\nIf you encounter any issues or have questions about using the API, feel free to reach out:\n\n- \ud83d\udcd6 **Documentation**: [API Docs Link](https:\/\/games.bisecthosting.com\/docs)\n- \ud83d\udcac **Community Support**: [BisectHosting Discord](https:\/\/discord.gg\/bisecthosting)\n- \ud83d\udce8 **Support Ticket**: [BisectHosting Support](https:\/\/bisecthosting.com\/support)\n\n---\nThis document is subject to updates and improvements as the API evolves.","termsOfService":"https:\/\/bisecthosting.com\/tos","license":null,"contact":[],"x-logo":{"url":"https:\/\/www.bisecthosting.com\/images\/promo\/logos\/BH_BRANDING_horizontal_light_wordmark.png","altText":"\ud83d\ude80 Starbase API Documentation","backgroundColor":""}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":[]},"servers":[{"url":"https:\/\/games.bisecthosting.com","description":"BisectHosting Server"}],"paths":{"\/api\/client":{"get":{"security":[{"BearerAuth":[]}],"tags":["Servers"],"operationId":"List Servers.","description":"Returns all servers that the authenticated user has access to.","parameters":[{"in":"query","name":"type","description":"Filter by server access type. Valid values: admin, admin-all, owner, shared.","required":false,"schema":{"type":"string","example":"owner"}},{"in":"query","name":"filter[*]","description":"Filter by any server field using the filter[field] syntax.","required":false,"schema":{"type":"string","example":"filter[name]=Test"}},{"in":"query","name":"filter[uuid]","description":"Filter by server UUID.","required":false,"schema":{"type":"string","example":"1234-5678-9101"}},{"in":"query","name":"filter[name]","description":"Filter by server name.","required":false,"schema":{"type":"string","example":"My Server"}},{"in":"query","name":"filter[description]","description":"Filter by server description.","required":false,"schema":{"type":"string","example":"Development"}},{"in":"query","name":"filter[external_id]","description":"Filter by external ID.","required":false,"schema":{"type":"string","example":"ext123"}},{"in":"query","name":"filter[subdomain]","description":"Filter by server subdomain label or FQDN.","required":false,"schema":{"type":"string","example":"play.example.com"}},{"in":"query","name":"filter[location_ids]","description":"Filter by location IDs (array).","required":false,"schema":{"type":"int[]","example":"filter[location_ids][]=1&filter[location_ids][]=2"}},{"in":"query","name":"filter[egg_ids]","description":"Filter by egg IDs (array).","required":false,"schema":{"type":"int[]","example":"filter[egg_ids][]=5&filter[egg_ids][]=10"}},{"in":"query","name":"filter[jar_ids]","description":"Filter by Minecraft jar IDs (array).","required":false,"schema":{"type":"int[]","example":"filter[jar_ids][]=3&filter[jar_ids][]=7"}},{"in":"query","name":"per_page","description":"The number of results to return per page (max: 100).","required":false,"schema":{"type":"integer","example":50}},{"in":"query","name":"page","description":"The page of results to view.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"include","description":"Relationships to include in the response. Valid: node","required":false,"schema":{"type":"string","example":"node"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"list","data":[{"object":"server","attributes":{"server_owner":true,"server_owner_boost":false,"identifier":"7b0dae76","internal_id":66,"external_id":null,"uuid":"7b0dae76-9419-4542-bbb9-67585e7d4a82","name":"Minecraft Testing Config Editor Really Long","node":"Local","allocation_id":107,"is_node_under_maintenance":false,"sftp_details":{"ip":"games-2.bisectdev.com","port":2022},"description":"","limits":{"memory":4096,"swap":0,"disk":0,"io":500,"cpu":0,"threads":null,"oom_disabled":false},"invocation":"","docker_image":"docker.io\/venturenodellc\/minecraft8","docker_label":"Java Version","knowledgebase_category":0,"egg_features":[],"feature_limits":{"databases":2,"allocations":0,"backups":0},"status":null,"staff_locked":false,"active_instance":220,"is_suspended":false,"is_installing":false,"installed_started_at":null,"installing_instance_at":null,"installed_started_egg":null,"is_transferring":false,"is_premium":false,"is_minecraft":true,"chat_regex":null,"blink_public":false,"blink_public_name":null,"ram_trial_expire_at":null,"connect_button":[],"available_domains":[],"max_file_upload_size":5000,"relationships":{"egg":{"object":"egg","attributes":{"id":110,"uuid":"4ff56373-738a-4cb7-a4a2-6e7615dc516e","name":"Minecraft Java","icon":"icons\/4ff56373-738a-4cb7-a4a2-6e7615dc516e.webp","instance_icon":null,"docker_label":"Java Version","config_shortcuts":null,"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":null,"show_update":false,"show_mods":null,"show_steam_cmd_install":false,"player_detection":null,"steam_query_enabled":null,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":null,"server_join_port":null,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":null}},"minecraftjar":{"object":"null_resource","attributes":null},"subdomain":{"object":"null_resource","attributes":null}}}},{"object":"server","attributes":{"server_owner":true,"server_owner_boost":false,"identifier":"30a67948","internal_id":67,"external_id":null,"uuid":"30a67948-df13-412a-bc26-3474c0849e2b","name":"Ark Cluster 2","node":"Local","allocation_id":2138,"is_node_under_maintenance":false,"sftp_details":{"ip":"games-2.bisectdev.com","port":2022},"description":"","limits":{"memory":2048,"swap":0,"disk":0,"io":500,"cpu":0,"threads":null,"oom_disabled":false},"invocation":"","docker_image":"docker.io\/venturenodellc\/enshrouded:pact_of_the_flame-4","docker_label":"Docker Image","knowledgebase_category":0,"egg_features":[],"feature_limits":{"databases":2,"allocations":0,"backups":0},"status":null,"staff_locked":false,"active_instance":219,"is_suspended":false,"is_installing":false,"installed_started_at":null,"installing_instance_at":null,"installed_started_egg":null,"is_transferring":false,"is_premium":false,"is_minecraft":false,"chat_regex":null,"blink_public":false,"blink_public_name":null,"ram_trial_expire_at":null,"connect_button":[],"available_domains":[],"max_file_upload_size":5000,"relationships":{"egg":{"object":"egg","attributes":{"id":102,"uuid":"0e9bbb77-a1d9-4001-9f65-8cd584e4e48d","name":"Enshrouded","icon":"icons\/0e9bbb77-a1d9-4001-9f65-8cd584e4e48d.webp","instance_icon":null,"docker_label":"Docker Image","config_shortcuts":null,"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":null,"show_update":false,"show_mods":null,"show_steam_cmd_install":false,"player_detection":null,"steam_query_enabled":null,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":null,"server_join_port":null,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":null}},"minecraftjar":{"object":"null_resource","attributes":null},"subdomain":{"object":"null_resource","attributes":null}}}}],"meta":{"pagination":{"total":2,"count":2,"per_page":25,"current_page":1,"total_pages":1,"links":[]}}}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\");\n\nlet params = {\n    \"type\": \"owner\",\n    \"filter[*]\": \"filter[name]=Test\",\n    \"filter[uuid]\": \"1234-5678-9101\",\n    \"filter[name]\": \"My Server\",\n    \"filter[description]\": \"Development\",\n    \"filter[external_id]\": \"ext123\",\n    \"filter[subdomain]\": \"play.example.com\",\n    \"filter[location_ids]\": \"filter[location_ids][]=1&amp;filter[location_ids][]=2\",\n    \"filter[egg_ids]\": \"filter[egg_ids][]=5&amp;filter[egg_ids][]=10\",\n    \"filter[jar_ids]\": \"filter[jar_ids][]=3&amp;filter[jar_ids][]=7\",\n    \"per_page\": \"50\",\n    \"page\": \"1\",\n    \"include\": \"node\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"type\" => \"owner\",\n    \"filter[*]\" => \"filter[name]=Test\",\n    \"filter[uuid]\" => \"1234-5678-9101\",\n    \"filter[name]\" => \"My Server\",\n    \"filter[description]\" => \"Development\",\n    \"filter[external_id]\" => \"ext123\",\n    \"filter[subdomain]\" => \"play.example.com\",\n    \"filter[location_ids]\" => \"filter[location_ids][]=1&amp;filter[location_ids][]=2\",\n    \"filter[egg_ids]\" => \"filter[egg_ids][]=5&amp;filter[egg_ids][]=10\",\n    \"filter[jar_ids]\" => \"filter[jar_ids][]=3&amp;filter[jar_ids][]=7\",\n    \"per_page\" => \"50\",\n    \"page\" => \"1\",\n    \"include\" => \"node\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/permissions":{"get":{"security":[{"BearerAuth":[]}],"tags":["Servers"],"operationId":"List System Permissions.","description":"Returns a list of all permissions that can be assigned to users on the system.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"system_permissions","attributes":{"permissions":{"control":{"description":"Gives users access to control server power state and send commands.","keys":{"console":"Allows sending commands to the server console.","start":"Allows starting the server when stopped.","stop":"Allows stopping a running server.","restart":"Allows restarting the server."}},"user":{"description":"Gives users access to manage other subusers on the system.","keys":{"create":"Allows creating new subusers for the server.","read":"Allows viewing subuser details.","update":"Allows modifying subusers.","delete":"Allows deleting subusers from the server."}}}}}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/permissions\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/permissions\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/permissions\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/servers\/{server}":{"get":{"security":[{"BearerAuth":[]}],"tags":["Servers"],"operationId":"Get Server Details.","description":"Returns detailed information about a server including its resource usage, allocations, and user permissions.","parameters":[{"in":"path","name":"server","description":"The UUID of the server to get details for.","required":false,"schema":{"type":"required","example":"3506802f-deb9-4c10-bd90-34ceae21deb2"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"server","attributes":{"server_owner":true,"server_owner_boost":false,"identifier":"bedf9d05","internal_id":70,"external_id":null,"uuid":"bedf9d05-1ce4-4a0b-a667-6e6b13b0d883","name":"My Bulk Server","node":"Local","allocation_id":2,"is_node_under_maintenance":false,"sftp_details":{"ip":"games-2.bisectdev.com","port":2022},"description":"","limits":{"memory":512,"memory_with_boost":3584,"swap":0,"disk":0,"io":500,"cpu":0,"threads":null,"oom_disabled":false},"invocation":"java -Xmx512M -Dterminal.jline=false -Dterminal.ansi=true  -jar server.jar ","docker_image":"docker.io\/venturenodellc\/minecraft:zulu21","docker_label":"Java Version","knowledgebase_category":0,"egg_features":["eula","java_version","pid_limit"],"feature_limits":{"databases":2,"allocations":20,"backups":0},"status":null,"staff_locked":false,"active_instance":221,"is_suspended":false,"is_installing":false,"installed_started_at":null,"installing_instance_at":"Default Instance Name","installed_started_egg":null,"is_transferring":false,"is_premium":true,"is_minecraft":true,"plan_type":"premium","chat_regex":null,"blink_public":false,"blink_public_name":null,"ram_trial_expire_at":null,"connect_button":[],"available_domains":["mcserver.us"],"max_file_upload_size":5000,"user_location_transfer_timer":null,"nest_ram_requirements":"4","relationships":{"allocations":{"object":"list","data":[{"object":"allocation","attributes":{"id":2,"ip":"173.254.253.140","ip_alias":"Shared","port":8001,"notes":null,"is_default":true}},{"object":"allocation","attributes":{"id":3,"ip":"173.254.253.140","ip_alias":"Shared","port":8002,"notes":null,"is_default":false}},{"object":"allocation","attributes":{"id":4,"ip":"173.254.253.140","ip_alias":"Shared","port":8003,"notes":null,"is_default":false}},{"object":"allocation","attributes":{"id":5,"ip":"173.254.253.140","ip_alias":"Shared","port":8004,"notes":null,"is_default":false}},{"object":"allocation","attributes":{"id":6,"ip":"173.254.253.140","ip_alias":"Shared","port":8005,"notes":null,"is_default":false}}]},"variables":{"object":"list","data":[{"object":"egg_variable","attributes":{"name":"[Advanced] Custom JVM Arguments - Start","description":"For Advanced use - Add any additional Startup Arguments to the start of the Startup Command here - If this is not a exact argument for your Java version \/ JAR file it will crash!","env_variable":"CUSTOM_ARGS","default_value":"","server_value":"","server_enabled":true,"is_editable":true,"is_toggleable":false,"rules":"nullable|string|not_regex:\/\\-Xmx\/","input_type":"text","input_options":[]}},{"object":"egg_variable","attributes":{"name":"[Advanced] Custom JVM Arguments - End","description":"For Advanced use -> Add any additional Startup Arguments to the end of the Startup Command here - If this is not a exact argument for your Java version \/ JAR file it will crash!","env_variable":"CUSTOM_ARGS_END","default_value":"","server_value":"","server_enabled":true,"is_editable":true,"is_toggleable":false,"rules":"nullable|string|not_regex:\/\\-Xmx\/","input_type":"text","input_options":[]}},{"object":"egg_variable","attributes":{"name":"Server Jar File","description":"The name of the server jarfile to run the server with.","env_variable":"SERVER_JARFILE","default_value":"server.jar","server_value":"server.jar","server_enabled":true,"is_editable":true,"is_toggleable":false,"rules":"required|regex:\/^([\\w._+-]+)\\.jar$\/","input_type":"text","input_options":[]}},{"object":"egg_variable","attributes":{"name":"Enable Aikars Flags","description":"If enabled, the server will automatically set the recommended Aikars Flags for your RAM allocation on startup","env_variable":"AIKARS_ENABLED","default_value":"0","server_value":"0","server_enabled":true,"is_editable":true,"is_toggleable":false,"rules":"nullable|string|max:20","input_type":"dropdown","input_options":[{"value":"1","name":"Enabled"},{"value":"0","name":"Disabled"}]}},{"object":"egg_variable","attributes":{"name":"Autosave Interval","description":"This will handle saving the server while running via the `save` command - Default is every 10 minutes!","env_variable":"AUTOSAVE_INT","default_value":"600","server_value":"600","server_enabled":true,"is_editable":true,"is_toggleable":false,"rules":"nullable|string","input_type":"dropdown","input_options":[{"value":"300","name":"5 Minutes"},{"value":"600","name":"10 Minutes"},{"value":"900","name":"15 Minutes"},{"value":"1200","name":"20 Minutes"},{"value":"1500","name":"25 Minutes"},{"value":"1800","name":"30 Minutes"},{"value":"2100","name":"35 Minutes"},{"value":"2400","name":"40 Minutes"},{"value":"2700","name":"45 Minutes"},{"value":"3000","name":"50 Minutes"},{"value":"3300","name":"55 Minutes"},{"value":"3600","name":"60 Minutes"},{"value":"86400","name":"24 Hours"}]}},{"object":"egg_variable","attributes":{"name":"Enable Autosave Loop","description":"If Enabled, Autosave will run based on the Autosave Interval Startub tab option!","env_variable":"ENABLE_AUTOSAVE","default_value":"0","server_value":"0","server_enabled":true,"is_editable":true,"is_toggleable":false,"rules":"required|numeric","input_type":"dropdown","input_options":[{"value":"1","name":"Enabled"},{"value":"0","name":"Disabled"}]}}]},"minecraftjar":{"object":"null_resource","attributes":null},"eggs":{"object":"list","data":[{"object":"egg","attributes":{"id":110,"uuid":"4ff56373-738a-4cb7-a4a2-6e7615dc516e","name":"Minecraft Java","icon":"icons\/4ff56373-738a-4cb7-a4a2-6e7615dc516e.webp","instance_icon":"icons\/instance_4ff56373-738a-4cb7-a4a2-6e7615dc516e.png","docker_label":"Java Version","config_shortcuts":null,"quick_config_access":null,"config_chat_command":"tellraw @a \"<{{username}}> {{message}}\"","config_chat_format":"<{{username}}> {{message}}","show_minecraft_jar_install":true,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":true,"steam_query_enabled":false,"player_list_enabled":true,"subdomain_srv":true,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}}]},"egg":{"object":"egg","attributes":{"id":110,"uuid":"4ff56373-738a-4cb7-a4a2-6e7615dc516e","name":"Minecraft Java","icon":"icons\/4ff56373-738a-4cb7-a4a2-6e7615dc516e.webp","instance_icon":"icons\/instance_4ff56373-738a-4cb7-a4a2-6e7615dc516e.png","docker_label":"Java Version","config_shortcuts":null,"quick_config_access":null,"config_chat_command":"tellraw @a \"<{{username}}> {{message}}\"","config_chat_format":"<{{username}}> {{message}}","show_minecraft_jar_install":true,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":true,"steam_query_enabled":false,"player_list_enabled":true,"subdomain_srv":true,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}},"nests":{"object":"list","data":[]},"configfiles":{"object":"list","data":[{"object":"config_files","attributes":{"id":24,"eggs":[110],"name":"Server Properties","description":"Server properties","file_type":"properties","file_name":"server.properties","file_path":"\/server.properties","created_at":"2024-02-28T12:05:15.000000Z","updated_at":"2024-03-13T13:46:55.000000Z"}}]},"subdomain":{"object":"null_resource","attributes":null},"location":{"object":"location","attributes":{"id":1,"short":"Local Location","long":"Local Location","country_code":null,"test_ip":null,"updated_at":"2025-05-07T17:06:22+00:00","created_at":"2023-04-14T11:29:49+00:00"}}}},"meta":{"is_server_owner":true,"user_permissions":["*","admin.websocket.errors","admin.websocket.install","admin.websocket.transfer","admin.activity.logs","admin.bypass.suspension"]}}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/servers\/{server}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/servers\/{server}\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/servers\/{server}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/bulk\/power":{"post":{"security":[{"BearerAuth":[]}],"tags":["Server Management"],"operationId":"Bulk Power Action.","description":"Performs power actions (start, stop, restart, kill) on multiple servers simultaneously.\nOnly servers that the user has permission to control will be affected.","requestBody":{"description":"Performs power actions (start, stop, restart, kill) on multiple servers simultaneously.\nOnly servers that the user has permission to control will be affected.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["servers","action"],"properties":{"servers":{"type":"string","example":"1,2,3,4","description":"Comma-separated list of server IDs to perform the action on."},"action":{"type":"string","example":"restart","description":"The power action to perform. Must be one of: start, stop, restart, kill."}},"example":{"servers":"1,2,3,4","action":"restart"}}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Bulk power action queued successfully.","affected_servers":["1","2","3"],"total_requested":4,"total_affected":3}}}}},"403":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"error":"You do not have permission to perform this action on any of the requested servers."}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/games.bisecthosting.com\/api\/client\/bulk\/power\" \n    -d \"servers\"=\"1,2,3,4\" \\\n    -d \"action\"=\"restart\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/bulk\/power\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"servers\": \"1,2,3,4\",\n    \"action\": \"restart\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"servers\" =>  \"1,2,3,4\",\n    \"action\" =>  \"restart\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/bulk\/power\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/bulk\/reinstall":{"post":{"security":[{"BearerAuth":[]}],"tags":["Server Management"],"operationId":"Bulk Reinstall Action.","description":"Reinstalls multiple servers simultaneously. Only servers that the user has permission to control will be affected.","requestBody":{"description":"Reinstalls multiple servers simultaneously. Only servers that the user has permission to control will be affected.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["servers","mode"],"properties":{"servers":{"type":"string","example":"1,2,3,4","description":"Comma-separated list of server IDs to reinstall."},"mode":{"type":"string","example":"reset","description":"The mode of reinstallation. Must be one of: delete, reset."}},"example":{"servers":"1,2,3,4","mode":"reset"}}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Bulk reinstallation queued successfully.","affected_servers":["1","2","3"],"total_requested":4,"total_affected":3}}}}},"403":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"error":"You do not have permission to perform this action on any of the requested servers."}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/games.bisecthosting.com\/api\/client\/bulk\/reinstall\" \n    -d \"servers\"=\"1,2,3,4\" \\\n    -d \"mode\"=\"reset\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/bulk\/reinstall\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"servers\": \"1,2,3,4\",\n    \"mode\": \"reset\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"servers\" =>  \"1,2,3,4\",\n    \"mode\" =>  \"reset\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/bulk\/reinstall\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/servers\/{server}\/location":{"post":{"security":[{"BearerAuth":[]}],"tags":["Server Management"],"operationId":"Update Server Location.","description":"Transfers the server to a new location.","requestBody":{"description":"Transfers the server to a new location.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["location_id"],"properties":{"location_id":{"type":"integer","example":1,"description":"The ID of the new location to transfer to."},"reason":{"type":"string","example":"Moving to better location","description":"The reason for the transfer."},"transfer_user_backups":{"type":"boolean","example":true,"description":"Whether to transfer user backups."},"transfer_instances":{"type":"boolean","example":true,"description":"Whether to transfer instances."}},"example":{"location_id":1,"reason":"Moving to better location","transfer_user_backups":true,"transfer_instances":true}}}}},"parameters":[{"in":"path","name":"server","description":"The UUID of the server to transfer.","required":false,"schema":{"type":"required","example":"3506802f-deb9-4c10-bd90-34ceae21deb2"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"message":"Transfer successful."}}}}},"400":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"error":"No node found to transfer to at this location, try another location."}}}}},"403":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"error":"You do not have permission to transfer servers."}}}}},"422":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"error":"Server not eligible for transfer. Please try again after 24 hours."}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/games.bisecthosting.com\/api\/client\/servers\/{server}\/location\" \n    -d \"location_id\"=\"1\" \\\n    -d \"reason\"=\"Moving to better location\" \\\n    -d \"transfer_user_backups\"=\"1\" \\\n    -d \"transfer_instances\"=\"1\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/servers\/{server}\/location\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"location_id\": \"1\",\n    \"reason\": \"Moving to better location\",\n    \"transfer_user_backups\": \"1\",\n    \"transfer_instances\": \"1\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"location_id\" =>  \"1\",\n    \"reason\" =>  \"Moving to better location\",\n    \"transfer_user_backups\" =>  \"1\",\n    \"transfer_instances\" =>  \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/servers\/{server}\/location\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/locations":{"get":{"security":[{"BearerAuth":[]}],"tags":["Locations"],"operationId":"List Locations.","description":"Returns all available locations that allow user transfers.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"list","data":[{"object":"location","attributes":{"id":2,"short":"us.dallas","long":"Dallas, TX - US Central","country_code":null,"test_ip":null,"updated_at":"2025-08-04T14:13:08+00:00","created_at":"2025-08-04T14:13:08+00:00"}},{"object":"location","attributes":{"id":3,"short":"us.la","long":"Los Angeles, CA - US West","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:48:29+00:00","created_at":"2020-05-20T08:04:53+00:00"}},{"object":"location","attributes":{"id":4,"short":"us.east","long":"Montreal, CA - NA East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:11+00:00","created_at":"2020-05-20T11:26:43+00:00"}},{"object":"location","attributes":{"id":5,"short":"us.nj","long":"New Jersey - US East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:29+00:00","created_at":"2020-09-01T08:17:48+00:00"}},{"object":"location","attributes":{"id":6,"short":"eu.ams","long":"Netherlands - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:51+00:00","created_at":"2020-10-05T15:13:19+00:00"}},{"object":"location","attributes":{"id":7,"short":"au.syd","long":"Sydney, AU - APAC","country_code":null,"test_ip":null,"updated_at":"2025-04-27T10:46:03+00:00","created_at":"2021-02-19T15:35:41+00:00"}},{"object":"location","attributes":{"id":8,"short":"asia.sgp","long":"Singapore - APAC","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:50:20+00:00","created_at":"2021-02-21T17:40:32+00:00"}},{"object":"location","attributes":{"id":9,"short":"us.va","long":"Virginia - US East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T21:11:37+00:00","created_at":"2021-02-21T17:40:42+00:00"}},{"object":"location","attributes":{"id":10,"short":"us.or","long":"Hillsboro, OR - US West","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:50:56+00:00","created_at":"2021-02-21T17:40:49+00:00"}},{"object":"location","attributes":{"id":11,"short":"sa.sao","long":"S\u00e3o Paulo, BR - SA","country_code":null,"test_ip":null,"updated_at":"2025-06-24T04:50:56+00:00","created_at":"2021-02-21T17:40:59+00:00"}},{"object":"location","attributes":{"id":12,"short":"eu.pol","long":"Poland - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:51:28+00:00","created_at":"2021-03-02T21:46:57+00:00"}},{"object":"location","attributes":{"id":13,"short":"eu.germany","long":"Germany - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:51:36+00:00","created_at":"2021-03-02T21:47:10+00:00"}},{"object":"location","attributes":{"id":14,"short":"eu.uk","long":"United Kingdom - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:51:55+00:00","created_at":"2021-03-02T21:48:15+00:00"}},{"object":"location","attributes":{"id":15,"short":"somewhere.ny","long":"Buffalo, NY - US East","country_code":null,"test_ip":null,"updated_at":"2025-05-04T00:16:07+00:00","created_at":"2021-03-08T20:22:29+00:00"}},{"object":"location","attributes":{"id":16,"short":"us.mia","long":"Miami, FL - US Southeast","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:52:25+00:00","created_at":"2021-03-08T22:54:16+00:00"}},{"object":"location","attributes":{"id":17,"short":"rus.mos","long":"Russia - Moscow","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:52:45+00:00","created_at":"2021-03-17T23:47:18+00:00"}},{"object":"location","attributes":{"id":19,"short":"us.atl","long":"Atlanta, GA - US Southeast","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:53:09+00:00","created_at":"2022-11-01T07:55:18+00:00"}},{"object":"location","attributes":{"id":20,"short":"us.sea","long":"Seattle, WA - US Northwest","country_code":null,"test_ip":null,"updated_at":"2025-04-19T15:46:33+00:00","created_at":"2023-02-08T13:01:23+00:00"}},{"object":"location","attributes":{"id":21,"short":"us.ord","long":"Chicago, IL - US Midwest","country_code":null,"test_ip":null,"updated_at":"2025-06-16T18:16:21+00:00","created_at":"2023-02-08T13:01:37+00:00"}},{"object":"location","attributes":{"id":22,"short":"asia.ind","long":"Mumbai, India - APAC","country_code":null,"test_ip":null,"updated_at":"2025-04-20T18:34:55+00:00","created_at":"2023-03-23T10:59:58+00:00"}}]}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/locations\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/locations\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/locations\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/locations\/regions":{"get":{"security":[{"BearerAuth":[]}],"tags":["Locations"],"operationId":"List Regions.","description":"Returns all available regions for server locations.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"list","data":[{"object":"region","attributes":{"id":1,"name":"US Central","slug":"USCentral","updated_at":"2025-01-15T07:11:01+00:00","created_at":"2025-01-15T07:11:01+00:00","relationships":{"locations":{"object":"list","data":[{"object":"location","attributes":{"id":1,"short":"Local Location","long":"Local Location","country_code":null,"test_ip":null,"updated_at":"2025-05-07T17:06:22+00:00","created_at":"2023-04-14T11:29:49+00:00"}},{"object":"location","attributes":{"id":4,"short":"us.east","long":"Montreal, CA - NA East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:11+00:00","created_at":"2020-05-20T11:26:43+00:00"}},{"object":"location","attributes":{"id":5,"short":"us.nj","long":"New Jersey - US East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:29+00:00","created_at":"2020-09-01T08:17:48+00:00"}},{"object":"location","attributes":{"id":6,"short":"eu.ams","long":"Netherlands - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:51+00:00","created_at":"2020-10-05T15:13:19+00:00"}},{"object":"location","attributes":{"id":10,"short":"us.or","long":"Hillsboro, OR - US West","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:50:56+00:00","created_at":"2021-02-21T17:40:49+00:00"}},{"object":"location","attributes":{"id":16,"short":"us.mia","long":"Miami, FL - US Southeast","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:52:25+00:00","created_at":"2021-03-08T22:54:16+00:00"}},{"object":"location","attributes":{"id":20,"short":"us.sea","long":"Seattle, WA - US Northwest","country_code":null,"test_ip":null,"updated_at":"2025-04-19T15:46:33+00:00","created_at":"2023-02-08T13:01:23+00:00"}},{"object":"location","attributes":{"id":22,"short":"asia.ind","long":"Mumbai, India - APAC","country_code":null,"test_ip":null,"updated_at":"2025-04-20T18:34:55+00:00","created_at":"2023-03-23T10:59:58+00:00"}}]}}}},{"object":"region","attributes":{"id":2,"name":"US East","slug":"USEast","updated_at":"2025-01-15T07:11:20+00:00","created_at":"2025-01-15T07:11:20+00:00","relationships":{"locations":{"object":"list","data":[{"object":"location","attributes":{"id":1,"short":"Local Location","long":"Local Location","country_code":null,"test_ip":null,"updated_at":"2025-05-07T17:06:22+00:00","created_at":"2023-04-14T11:29:49+00:00"}},{"object":"location","attributes":{"id":5,"short":"us.nj","long":"New Jersey - US East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:29+00:00","created_at":"2020-09-01T08:17:48+00:00"}},{"object":"location","attributes":{"id":6,"short":"eu.ams","long":"Netherlands - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:51+00:00","created_at":"2020-10-05T15:13:19+00:00"}},{"object":"location","attributes":{"id":10,"short":"us.or","long":"Hillsboro, OR - US West","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:50:56+00:00","created_at":"2021-02-21T17:40:49+00:00"}},{"object":"location","attributes":{"id":16,"short":"us.mia","long":"Miami, FL - US Southeast","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:52:25+00:00","created_at":"2021-03-08T22:54:16+00:00"}},{"object":"location","attributes":{"id":20,"short":"us.sea","long":"Seattle, WA - US Northwest","country_code":null,"test_ip":null,"updated_at":"2025-04-19T15:46:33+00:00","created_at":"2023-02-08T13:01:23+00:00"}},{"object":"location","attributes":{"id":22,"short":"asia.ind","long":"Mumbai, India - APAC","country_code":null,"test_ip":null,"updated_at":"2025-04-20T18:34:55+00:00","created_at":"2023-03-23T10:59:58+00:00"}}]}}}},{"object":"region","attributes":{"id":3,"name":"US West","slug":"USWest","updated_at":"2025-01-15T07:12:49+00:00","created_at":"2025-01-15T07:12:49+00:00","relationships":{"locations":{"object":"list","data":[{"object":"location","attributes":{"id":1,"short":"Local Location","long":"Local Location","country_code":null,"test_ip":null,"updated_at":"2025-05-07T17:06:22+00:00","created_at":"2023-04-14T11:29:49+00:00"}},{"object":"location","attributes":{"id":4,"short":"us.east","long":"Montreal, CA - NA East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:49:11+00:00","created_at":"2020-05-20T11:26:43+00:00"}},{"object":"location","attributes":{"id":11,"short":"sa.sao","long":"S\u00e3o Paulo, BR - SA","country_code":null,"test_ip":null,"updated_at":"2025-06-24T04:50:56+00:00","created_at":"2021-02-21T17:40:59+00:00"}},{"object":"location","attributes":{"id":21,"short":"us.ord","long":"Chicago, IL - US Midwest","country_code":null,"test_ip":null,"updated_at":"2025-06-16T18:16:21+00:00","created_at":"2023-02-08T13:01:37+00:00"}}]}}}},{"object":"region","attributes":{"id":4,"name":"Europe","slug":"Europe","updated_at":"2025-02-12T22:37:49+00:00","created_at":"2025-02-12T22:37:49+00:00","relationships":{"locations":{"object":"list","data":[{"object":"location","attributes":{"id":2,"short":"us.dallas","long":"Dallas, TX - US Central","country_code":null,"test_ip":null,"updated_at":"2025-08-04T14:13:08+00:00","created_at":"2025-08-04T14:13:08+00:00"}},{"object":"location","attributes":{"id":7,"short":"au.syd","long":"Sydney, AU - APAC","country_code":null,"test_ip":null,"updated_at":"2025-04-27T10:46:03+00:00","created_at":"2021-02-19T15:35:41+00:00"}},{"object":"location","attributes":{"id":13,"short":"eu.germany","long":"Germany - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:51:36+00:00","created_at":"2021-03-02T21:47:10+00:00"}},{"object":"location","attributes":{"id":14,"short":"eu.uk","long":"United Kingdom - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:51:55+00:00","created_at":"2021-03-02T21:48:15+00:00"}},{"object":"location","attributes":{"id":15,"short":"somewhere.ny","long":"Buffalo, NY - US East","country_code":null,"test_ip":null,"updated_at":"2025-05-04T00:16:07+00:00","created_at":"2021-03-08T20:22:29+00:00"}}]}}}},{"object":"region","attributes":{"id":5,"name":"New Zealand","slug":"NewZealand","updated_at":"2025-08-04T14:12:07+00:00","created_at":"2025-08-04T14:12:06+00:00","relationships":{"locations":{"object":"list","data":[{"object":"location","attributes":{"id":8,"short":"asia.sgp","long":"Singapore - APAC","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:50:20+00:00","created_at":"2021-02-21T17:40:32+00:00"}},{"object":"location","attributes":{"id":9,"short":"us.va","long":"Virginia - US East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T21:11:37+00:00","created_at":"2021-02-21T17:40:42+00:00"}}]}}}},{"object":"region","attributes":{"id":6,"name":"Asia","slug":"Asia","updated_at":"2025-08-04T14:12:16+00:00","created_at":"2025-08-04T14:12:16+00:00","relationships":{"locations":{"object":"list","data":[{"object":"location","attributes":{"id":9,"short":"us.va","long":"Virginia - US East","country_code":null,"test_ip":null,"updated_at":"2025-04-19T21:11:37+00:00","created_at":"2021-02-21T17:40:42+00:00"}}]}}}},{"object":"region","attributes":{"id":7,"name":"South America","slug":"SouthAmerica","updated_at":"2025-08-04T14:12:26+00:00","created_at":"2025-08-04T14:12:26+00:00","relationships":{"locations":{"object":"list","data":[{"object":"location","attributes":{"id":12,"short":"eu.pol","long":"Poland - Europe","country_code":null,"test_ip":null,"updated_at":"2025-04-19T14:51:28+00:00","created_at":"2021-03-02T21:46:57+00:00"}}]}}}}]}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/locations\/regions\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/locations\/regions\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/locations\/regions\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/nests":{"get":{"security":[{"BearerAuth":[]}],"tags":["Nests"],"operationId":"List Nests.","description":"Returns all available nests with their associated eggs.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"list","data":[{"object":"nest","attributes":{"id":1,"uuid":"377dfffc-69cb-4720-94a6-b69a6c1d9042","name":"Minecraft","recommended_ram":"4","memory_boost":3072,"icon":"icons\/nest-377dfffc-69cb-4720-94a6-b69a6c1d9042.webp","instance_icon":"icons\/instance_default.png","game_switching":true,"coming_soon":false,"coming_soon_redirect":null,"relationships":{"eggs":{"object":"list","data":[{"object":"egg","attributes":{"id":110,"uuid":"4ff56373-738a-4cb7-a4a2-6e7615dc516e","name":"Minecraft Java","icon":"icons\/4ff56373-738a-4cb7-a4a2-6e7615dc516e.webp","instance_icon":"icons\/instance_4ff56373-738a-4cb7-a4a2-6e7615dc516e.png","docker_label":"Java Version","config_shortcuts":null,"quick_config_access":null,"config_chat_command":"tellraw @a \"<{{username}}> {{message}}\"","config_chat_format":"<{{username}}> {{message}}","show_minecraft_jar_install":true,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":true,"steam_query_enabled":false,"player_list_enabled":true,"subdomain_srv":true,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}}]}}}},{"object":"nest","attributes":{"id":2,"uuid":"dfc918cc-1893-49f3-8887-43c8bfb4728f","name":"Source Engine","recommended_ram":"4","memory_boost":0,"icon":"icons\/default.png","instance_icon":"icons\/instance_default.png","game_switching":false,"coming_soon":false,"coming_soon_redirect":null,"relationships":{"eggs":{"object":"list","data":[{"object":"egg","attributes":{"id":6,"uuid":"9c3fcfe7-705f-4b74-b3ea-c714ba923a3c","name":"Ark Survival Evolved","icon":"icons\/9c3fcfe7-705f-4b74-b3ea-c714ba923a3c.png","instance_icon":"icons\/instance_default.png","docker_label":"Docker Image","config_shortcuts":{"ARK User Settings":"\/ShooterGame\/Saved\/Config\/LinuxServer\/GameUserSettings.ini","ARK Game Settings":"\/ShooterGame\/Saved\/Config\/LinuxServer\/Game.ini"},"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":true,"show_mods":false,"show_steam_cmd_install":true,"player_detection":false,"steam_query_enabled":true,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":1,"server_join_port":1,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}},{"object":"egg","attributes":{"id":9,"uuid":"d2d1c2d3-60f8-42a1-b1c4-b09361cc9e16","name":"Garrys Mod","icon":"icons\/d2d1c2d3-60f8-42a1-b1c4-b09361cc9e16.png","instance_icon":"icons\/instance_default.png","docker_label":"Docker Image","config_shortcuts":null,"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":false,"show_mods":true,"show_steam_cmd_install":false,"player_detection":true,"steam_query_enabled":true,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}},{"object":"egg","attributes":{"id":11,"uuid":"eedc126f-d791-4210-bfb2-62026e4188c5","name":"Team Fortress 2","icon":"icons\/eedc126f-d791-4210-bfb2-62026e4188c5.png","instance_icon":"icons\/instance_default.png","docker_label":"Docker Image","config_shortcuts":null,"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":false,"steam_query_enabled":true,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}},{"object":"egg","attributes":{"id":17,"uuid":"d5ca6d81-1777-4934-b15b-d00c5c4f3db0","name":"7 Days To Die","icon":"icons\/d5ca6d81-1777-4934-b15b-d00c5c4f3db0.png","instance_icon":"icons\/instance_default.png","docker_label":"Docker Image","config_shortcuts":{"Server Config":"\/serverconfig.xml","Server Admin Config":"\/.local\/share\/7DaysToDie\/Saves\/serveradmin.xml"},"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":true,"show_mods":true,"show_steam_cmd_install":false,"player_detection":false,"steam_query_enabled":false,"player_list_enabled":true,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}},{"object":"egg","attributes":{"id":36,"uuid":"64f3eb38-b2f5-4563-af43-c1eca35c37da","name":"Counter Strike: Source","icon":"icons\/64f3eb38-b2f5-4563-af43-c1eca35c37da.png","instance_icon":"icons\/instance_default.png","docker_label":"Docker Image","config_shortcuts":null,"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":false,"steam_query_enabled":false,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}},{"object":"egg","attributes":{"id":40,"uuid":"39813af3-0974-4a1b-b6d3-af1a371c9675","name":"Left 4 Dead 2","icon":"icons\/39813af3-0974-4a1b-b6d3-af1a371c9675.png","instance_icon":"icons\/instance_default.png","docker_label":"Docker Image","config_shortcuts":null,"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":false,"steam_query_enabled":false,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}}]}}}},{"object":"nest","attributes":{"id":3,"uuid":"47e6fe61-8298-4753-8868-06d253d39465","name":"Voice Servers","recommended_ram":"4","memory_boost":0,"icon":"icons\/default.png","instance_icon":"icons\/instance_default.png","game_switching":false,"coming_soon":false,"coming_soon_redirect":null,"relationships":{"eggs":{"object":"list","data":[{"object":"egg","attributes":{"id":12,"uuid":"5216f7cc-29db-4e27-ba05-eeb79409f253","name":"Mumble Server","icon":"icons\/5216f7cc-29db-4e27-ba05-eeb79409f253.png","instance_icon":"icons\/instance_default.png","docker_label":"Docker Image","config_shortcuts":{"Server Config":"\/murmur.ini"},"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":false,"steam_query_enabled":false,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}}]}}}},{"object":"nest","attributes":{"id":4,"uuid":"0eaf059b-c197-4965-93c5-e7c776de377b","name":"Rust","recommended_ram":"8","memory_boost":0,"icon":"icons\/nest-0eaf059b-c197-4965-93c5-e7c776de377b.webp","instance_icon":"icons\/instance_default.png","game_switching":true,"coming_soon":false,"coming_soon_redirect":null,"relationships":{"eggs":{"object":"list","data":[{"object":"egg","attributes":{"id":14,"uuid":"f6ff174f-653f-4fff-bd09-383b40d95c10","name":"Rust","icon":"icons\/f6ff174f-653f-4fff-bd09-383b40d95c10.webp","instance_icon":"icons\/instance_f6ff174f-653f-4fff-bd09-383b40d95c10.png","docker_label":"Docker Image","config_shortcuts":null,"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":false,"steam_query_enabled":true,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}},{"object":"egg","attributes":{"id":65,"uuid":"8420c1c6-58c3-49a2-8227-a68a413c0dee","name":"Rust Carbon","icon":"icons\/8420c1c6-58c3-49a2-8227-a68a413c0dee.webp","instance_icon":"icons\/instance_8420c1c6-58c3-49a2-8227-a68a413c0dee.png","docker_label":"Docker Image","config_shortcuts":null,"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":false,"steam_query_enabled":true,"player_list_enabled":false,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}}]}}}},{"object":"nest","attributes":{"id":5,"uuid":"e08437a7-446b-4c44-9c63-f650d034097a","name":"Terraria","recommended_ram":"2","memory_boost":0,"icon":"icons\/nest-e08437a7-446b-4c44-9c63-f650d034097a.webp","instance_icon":"icons\/instance_default.png","game_switching":true,"coming_soon":false,"coming_soon_redirect":null,"relationships":{"eggs":{"object":"list","data":[{"object":"egg","attributes":{"id":148,"uuid":"9301b0a4-c609-48de-ae1c-fba2f1a73ffa","name":"Terraria","icon":"icons\/9301b0a4-c609-48de-ae1c-fba2f1a73ffa.webp","instance_icon":"icons\/instance_9301b0a4-c609-48de-ae1c-fba2f1a73ffa.png","docker_label":"Docker Image","config_shortcuts":{"Terraria Config":"\/config.txt","T-Shock Config":"\/tshock\/config.json"},"quick_config_access":null,"config_chat_command":null,"config_chat_format":null,"show_minecraft_jar_install":false,"show_update":false,"show_mods":false,"show_steam_cmd_install":false,"player_detection":true,"steam_query_enabled":false,"player_list_enabled":true,"subdomain_srv":false,"subdomain_port":0,"server_join_port":0,"update_description":null,"feature_toggles":{"console":true,"files":true,"databases":true,"backups":true,"schedules":true,"users":true,"network":true,"activity_log":true,"ip_address_badge":true,"subdomain_badge":true,"instance_manager_section":true,"game_swapping":true,"reinstall_server_box":true,"location_swapping":true,"startup_command":true},"force_import_backups_on_transfer":true}}]}}}}]}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/nests\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/nests\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/nests\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/jars":{"get":{"security":[{"BearerAuth":[]}],"tags":["JARs"],"operationId":"List JARs.","description":"Returns all available Minecraft JARs that are not hidden.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"list","data":[{"object":"minecraft_jar","attributes":{"id":100,"jar":"ATLauncher-BevosTechPackReborn_2.7.0hf.jar","name":"Bevos Tech Pack Reborn","search_name":"Bevos Tech Pack Reborn 1.7.10","category_id":1,"prefix":"ATLauncher-BevosTechPackReborn_","minecraft_version":"1.7.10","modpack_version":"2.7.0hf","ram":"2 GB","notes":[],"empty_directory":true,"external_link":"https:\/\/atlauncher.com\/pack\/bevostechpack","icon":null,"public_server_list":0}},{"object":"minecraft_jar","attributes":{"id":101,"jar":"crundee_craft_1.1.1.jar","name":"Crundee Craft","search_name":"Crundee Craft 1.7.10","category_id":1,"prefix":"crundee_craft_","minecraft_version":"1.7.10","modpack_version":"1.1.1","ram":"2 GB","notes":[],"empty_directory":true,"external_link":"https:\/\/atlauncher.com\/pack\/crundeecraft","icon":null,"public_server_list":0}},{"object":"minecraft_jar","attributes":{"id":102,"jar":"HermitcraftModsauce.1.0.1.1.jar","name":"Hermitcraft Modsauce","search_name":"Hermitcraft Modsauce 1.7.10","category_id":1,"prefix":"HermitcraftModsauce.","minecraft_version":"1.7.10","modpack_version":"1.0.1.1","ram":"2 GB","notes":[{"note":"Recommended Mods","type":"info"}],"empty_directory":true,"external_link":"https:\/\/atlauncher.com\/pack\/hermitcraftmodsauce","icon":null,"public_server_list":0}},{"object":"minecraft_jar","attributes":{"id":103,"jar":"HermitcraftModsauce2_2.2.4.0.jar","name":"Hermitcraft Modsauce 2","search_name":"Hermitcraft Modsauce 2 1.7.10","category_id":1,"prefix":"HermitcraftModsauce2_","minecraft_version":"1.7.10","modpack_version":"2.2.4.0","ram":"2 GB","notes":[{"note":"Recommended Mods","type":"info"}],"empty_directory":true,"external_link":"https:\/\/atlauncher.com\/pack\/hermitcraftmodsauce2","icon":"https:\/\/bisecthosting.com\/images\/uploads\/modpacks\/57b3ca03-fe86-4aa8-9b47-247d5dd24e9c-40.webp","public_server_list":0}},{"object":"minecraft_jar","attributes":{"id":105,"jar":"ResonantRise_Mainline_3.4.0.3.jar","name":"Resonant Rise - Mainline 3","search_name":"Resonant Rise - Mainline 3 1.7.10","category_id":1,"prefix":"ResonantRise_Mainline_3","minecraft_version":"1.7.10","modpack_version":"3.4.0.3","ram":"3 GB","notes":[{"note":"Mainline Optional Mods","type":"info"}],"empty_directory":true,"external_link":"https:\/\/atlauncher.com\/pack\/resonantrise","icon":null,"public_server_list":0}},{"object":"minecraft_jar","attributes":{"id":106,"jar":"ResonantRise_Mainline_4.3.0.5rc.jar","name":"Resonant Rise - Mainline 4","search_name":"Resonant Rise - Mainline 4 1.10.2","category_id":1,"prefix":"ResonantRise_Mainline_4","minecraft_version":"1.10.2","modpack_version":"4.3.0.5rc","ram":"3 GB","notes":[{"note":"Mainline Optional Mods","type":"info"}],"empty_directory":true,"external_link":"https:\/\/atlauncher.com\/pack\/resonantrise","icon":null,"public_server_list":0}},{"object":"minecraft_jar","attributes":{"id":107,"jar":"ATLauncher-revengeofthecteam_0.6.1.jar","name":"Revenge of the C-Team","search_name":"Revenge of the C-Team 1.7.10","category_id":1,"prefix":"ATLauncher-revengeofthecteam_","minecraft_version":"1.7.10","modpack_version":"0.6.1","ram":"2 GB","notes":[],"empty_directory":true,"external_link":"https:\/\/atlauncher.com\/pack\/revengeofthecteam","icon":null,"public_server_list":0}}]}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/jars\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/jars\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/jars\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account":{"get":{"security":[{"BearerAuth":[]}],"tags":["User Management"],"operationId":"Get Account Information.","description":"Returns the currently authenticated user's account information via the Account Transformer.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"user","attributes":{"id":1,"admin":false,"username":"username12345","email":"contact@bisecthosting.com","first_name":"First Name","last_name":"Last Name","language":"en"}}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/account\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account\/language":{"get":{"security":[{"BearerAuth":[]}],"tags":["User Management"],"operationId":"Get User Language.","description":"Returns the currently authenticated user's language.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"language":"en-us","source":"default","override":false}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/account\/language\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/language\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/language\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"security":[{"BearerAuth":[]}],"tags":["User Management"],"operationId":"Update User Language.","description":"Updates the currently authenticated user's language.","requestBody":{"description":"Updates the currently authenticated user's language.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["language"],"properties":{"language":{"type":"string","example":"en-us","description":"The user's language."}},"example":{"language":"en-us"}}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"language":"en-us","source":"default","override":false}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/games.bisecthosting.com\/api\/client\/account\/language\" \n    -d \"language\"=\"en-us\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/language\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"language\": \"en-us\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"language\" =>  \"en-us\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/language\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account\/theme":{"get":{"security":[{"BearerAuth":[]}],"tags":["User Management"],"operationId":"Get User Theme.","description":"Returns the currently authenticated user's theme preference.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"theme":"bisect-blue"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/account\/theme\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/theme\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/theme\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"security":[{"BearerAuth":[]}],"tags":["User Management"],"operationId":"Update User Theme.","description":"Updates the currently authenticated user's theme preference.","requestBody":{"description":"Updates the currently authenticated user's theme preference.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["theme"],"properties":{"theme":{"type":"string","example":"bisect-blue","description":"The user's theme."}},"example":{"theme":"bisect-blue"}}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"theme":"bisect-blue"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/games.bisecthosting.com\/api\/client\/account\/theme\" \n    -d \"theme\"=\"bisect-blue\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/theme\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"theme\": \"bisect-blue\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"theme\" =>  \"bisect-blue\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/theme\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account\/email":{"put":{"security":[{"BearerAuth":[]}],"tags":["User Management"],"operationId":"Update User Email.","description":"Updates the currently authenticated users email. Creates an activity log entry upon success with the old and new emails.","requestBody":{"description":"Updates the currently authenticated users email. Creates an activity log entry upon success with the old and new emails.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","example":"contact@bisecthosting.com","description":"The new email address for the user."}},"example":{"email":"contact@bisecthosting.com"}}}}},"parameters":[],"responses":{"204":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/games.bisecthosting.com\/api\/client\/account\/email\" \n    -d \"email\"=\"contact@bisecthosting.com\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/email\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"email\": \"contact@bisecthosting.com\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"email\" =>  \"contact@bisecthosting.com\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/email\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account\/password":{"put":{"security":[{"BearerAuth":[]}],"tags":["User Management"],"operationId":"Update User Password.","description":"Update the authenticated user's password. All existing sessions will be logged out immediately.","requestBody":{"description":"Update the authenticated user's password. All existing sessions will be logged out immediately.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["password"],"properties":{"password":{"type":"string","example":"password1234","description":"The new password for the user."}},"example":{"password":"password1234"}}}}},"parameters":[],"responses":{"204":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/games.bisecthosting.com\/api\/client\/account\/password\" \n    -d \"password\"=\"password1234\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/password\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"password\": \"password1234\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"password\" =>  \"password1234\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/password\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account\/profile":{"put":{"security":[{"BearerAuth":[]}],"tags":["User Management"],"operationId":"Update User Profile.","description":"Updates the currently authenticated user's profile information including first name and last name.\nCreates an activity log entry upon success.","requestBody":{"description":"Updates the currently authenticated user's profile information including first name and last name.\nCreates an activity log entry upon success.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["first_name","last_name"],"properties":{"first_name":{"type":"string","example":"John","description":"The user's first name."},"last_name":{"type":"string","example":"Doe","description":"The user's last name."}},"example":{"first_name":"John","last_name":"Doe"}}}}},"parameters":[],"responses":{"204":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/games.bisecthosting.com\/api\/client\/account\/profile\" \n    -d \"first_name\"=\"John\" \\\n    -d \"last_name\"=\"Doe\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/profile\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"first_name\" =>  \"John\",\n    \"last_name\" =>  \"Doe\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/profile\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account\/two-factor":{"get":{"security":[{"BearerAuth":[]}],"tags":["Two Factor"],"operationId":"Get 2FA Configuration.","description":"Returns the two-factor token configuration to allow a user to configure 2FA on their account.\nThis endpoint will return a 400 error if 2FA is already enabled on the account.","parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"data":{"image_url_data":"data:image\/png;base64,...","secret":"ONSWG4TFOQ======="}}}}}},"400":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"error":"Two-factor authentication is already enabled on this account."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"security":[{"BearerAuth":[]}],"tags":["Two Factor"],"operationId":"Enable 2FA.","description":"Enables two-factor authentication on the account by validating the provided token and password.","requestBody":{"description":"Enables two-factor authentication on the account by validating the provided token and password.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["code","password"],"properties":{"code":{"type":"string","example":"123456","description":"The 6-digit two-factor token."},"password":{"type":"string","example":"mypassword","description":"The user's current account password."}},"example":{"code":"123456","password":"mypassword"}}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"recovery_tokens","attributes":{"tokens":["ABCDEF123456","GHIJKL789012"]}}}}}},"400":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"error":"The password provided was not valid."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\" \n    -d \"code\"=\"123456\" \\\n    -d \"password\"=\"mypassword\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"code\": \"123456\",\n    \"password\": \"mypassword\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"code\" =>  \"123456\",\n    \"password\" =>  \"mypassword\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account\/two-factor\/disable":{"post":{"security":[{"BearerAuth":[]}],"tags":["Two Factor"],"operationId":"Disable 2FA.","description":"Disables two-factor authentication on the account if the password provided is valid.","requestBody":{"description":"Disables two-factor authentication on the account if the password provided is valid.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["password"],"properties":{"password":{"type":"string","example":"mypassword","description":"The user's current account password."}},"example":{"password":"mypassword"}}}}},"parameters":[],"responses":{"204":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}},"400":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"error":"The password provided was not valid."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\/disable\" \n    -d \"password\"=\"mypassword\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\/disable\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"password\": \"mypassword\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"password\" =>  \"mypassword\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/two-factor\/disable\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/account\/activity":{"get":{"security":[{"BearerAuth":[]}],"tags":["Activity Logs"],"operationId":"Get User Activity Logs.","description":"Returns a paginated list of activity logs for the authenticated user.","parameters":[{"in":"query","name":"per_page","description":"The number of results to return per page (max: 100).","required":false,"schema":{"type":"integer","example":25}},{"in":"query","name":"page","description":"The page of results to view.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"filter[event]","description":"Filter results by event name (partial matching).","required":false,"schema":{"type":"string","example":"server:created"}},{"in":"query","name":"sort","description":"Sort results by timestamp (timestamp, -timestamp).","required":false,"schema":{"type":"string","example":"-timestamp"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"list","data":[{"object":"activity_log","attributes":{"id":"ac200c387a7efa8ef0c6301725df0dce8b9285fa","batch":null,"event":"auth:success","is_api":false,"ip":"","description":null,"properties":{"ip":"","useragent":"Mozilla\/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit\/537.36 (KHTML, like Gecko) Chrome\/135.0.0.0 Safari\/537.36 OPR\/120.0.0.0"},"has_additional_metadata":false,"timestamp":"2025-08-04T10:57:28-04:00"}},{"object":"activity_log","attributes":{"id":"487ac2470ea93f85296a69412597a37c275a121e","batch":null,"event":"auth:success","is_api":false,"ip":"","description":null,"properties":{"ip":"","useragent":"Mozilla\/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit\/537.36 (KHTML, like Gecko) Chrome\/139.0.0.0 Safari\/537.36"},"has_additional_metadata":false,"timestamp":"2025-08-11T10:49:38-04:00"}},{"object":"activity_log","attributes":{"id":"abc97ffff99e82ffaa5729902f0fac3f95bc6ab1","batch":null,"event":"auth:success","is_api":false,"ip":"","description":null,"properties":{"ip":"","useragent":"Mozilla\/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit\/537.36 (KHTML, like Gecko) Chrome\/139.0.0.0 Safari\/537.36 Edg\/139.0.0.0"},"has_additional_metadata":false,"timestamp":"2025-08-14T10:14:43-04:00"}},{"object":"activity_log","attributes":{"id":"16d2310dc2662228e5959c7546af5d51fd967934","batch":null,"event":"user:api-key.create","is_api":false,"ip":"","description":null,"properties":{"identifier":"ptlc_OXLGlOjDpyr"},"has_additional_metadata":false,"timestamp":"2025-10-01T12:03:30-04:00"}}],"meta":{"pagination":{"total":4,"count":4,"per_page":25,"current_page":1,"total_pages":1,"links":[]}}}}}}},"401":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"errors":[{"code":"AuthenticationException","status":"401","detail":"Unauthenticated."}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/games.bisecthosting.com\/api\/client\/account\/activity\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/activity\");\n\nlet params = {\n    \"per_page\": \"25\",\n    \"page\": \"1\",\n    \"filter[event]\": \"server:created\",\n    \"sort\": \"-timestamp\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"per_page\" => \"25\",\n    \"page\" => \"1\",\n    \"filter[event]\" => \"server:created\",\n    \"sort\" => \"-timestamp\",\n];\n\n\n$ch = curl_init(\"https:\/\/games.bisecthosting.com\/api\/client\/account\/activity?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/client\/servers\/{server}\/activity":{"get":{"security":[{"BearerAuth":[]}],"tags":["Activity Logs"],"operationId":"Get Server Activity Logs.","description":"Returns a paginated list of activity logs for the provided server.","parameters":[{"in":"query","name":"per_page","description":"The number of results to return per page (max: 100).","required":false,"schema":{"type":"integer","example":25}},{"in":"query","name":"page","description":"The page of results to view.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"filter[event]","description":"Filter results by event name (partial matching).","required":false,"schema":{"type":"string","example":"server:created"}},{"in":"query","name":"sort","description":"Sort results by timestamp (timestamp, -timestamp).","required":false,"schema":{"type":"string","example":"-timestamp"}},{"in":"path","name":"server","description":"The UUID of the server to retrieve logs for.","required":false,"schema":{"type":"required","example":"3506802f-deb9-4c10-bd90-34ceae21deb2"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"object":"list","data":[{"object":"activity_log","attributes":{"id":"b6356eeb8338bf9c15899584bbb23135b40452e9","batch":null,"event":"server:console.view","is_api":false,"ip":"","description":null,"properties":[],"has_additional_metadata":false,"timestamp":"2025-08-11T13:35:28-04:00"}},{"object":"activity_log","attributes":{"id":"7808b90456a7f71eee497350f26f7ce2fece9526","batch":null,"event":"
[...]
